/* from https://perfectmotherfuckingwebsite.com */

:root {
  --background-color: #eee;
  --text-color: #444;
  --link-color: inherit;
  --visited-link-color: inherit;

  --border-color: #cccccc;
  --shadow-color: rgba(0, 0, 0, 0.2);

  --important: red;
  /* lol from https://github.com/sdras/night-owl-vscode-theme/blob/main/themes/Night%20Owl-Light-color-theme.json */
  --important-a: #4876d6;
  --important-b: #994cc3;
  --unimportant: #989fb1;
}
body {
  /* max-width: 650px; */
  margin: 40px auto;
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  line-height: 1.2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0d1117;
    --text-color: #c9d1d9;
    --link-color: #58a6ff;
    --visited-link-color: #8e96f0;

    --border-color: #444444;
    --shadow-color: rgba(255, 255, 255, 0.1);

    --important: red;
    /* and from https://github.com/sdras/night-owl-vscode-theme/blob/main/themes/Night%20Owl-color-theme.json */
    --important-a: #82aaff;
    --important-b: #c792ea;
    --unimportant: #637777;
  }

  body {
    color: var(--text-color);
    background: var(--background-color);
  }

  a:link {
    color: var(--link-color);
  }

  a:visited {
    color: var(--visited-link-color);
  }
}
