table.nlp-table,
table.nlp-table td {
  border: 1px solid gray;
  border-collapse: collapse;
}

table.nlp-table td {
  min-width: 6rem;
  max-width: 6rem;
}
table.nlp-table td div.cell {
  font-size: small;
  height: 7rem;
  overflow: scroll;
}

table.nlp-table td:empty {
  border: none;
}
