table,
td {
  border: 1px solid gray;
  border-collapse: collapse;
}

td {
  min-width: 6rem;
  max-width: 6rem;
}
td div.cell {
  font-size: small;
  height: 7rem;
  overflow: scroll;
}

td:empty {
  border: none;
}
