---
export const prerender = true;

import Basic from "../layouts/Basic.astro";

import StaticSentence from "../components/StaticSentenceSsr.astro";
import { clearDocument } from "../db";

const documentName = "Genki";

clearDocument(documentName);
---

<Basic title={documentName}>
  <h1>{documentName}</h1>
  <p>
    Here's a basic sentence I want to remember: <StaticSentence
      plain="うどんを食べた"
      docName={documentName}
    />
  </p>
</Basic>
