---
import { SentenceEditor as SentenceEditorComponent } from "../components/SentenceEditor";
---

<head>
  <meta charset="utf-8" />
  <title>Tabito: create and edit sentences</title>
</head>
<h1>Sentence Editor</h1>

<SentenceEditorComponent client:only="preact" />
