---
export const prerender = true;

import "../styles/editor.css";

import { Sentence } from "./solid/Sentence";
import { SentenceAnnotations } from "./solid/SentenceAnnotations";
import { loadSentence } from "../utils/loadSentence";

interface Props {
  plain: string;
  d: string;
  /**
   * No hover area, just the sentence with furigana.
   */
  justFurigana?: boolean;
}

const { plain, d: docName, justFurigana } = Astro.props;
const sentence = await loadSentence({ plain, docName });
---

<style>
  .sentence-annotations {
    position: absolute;
    visibility: hidden;
    z-index: 1;
    background: var(--background-color);

    padding: 0.5rem;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--shadow-color);
    transition:
      background-color 0.3s,
      border-color 0.3s,
      box-shadow 0.3s;

    left: 0;
    max-height: 75vh;
    overflow-y: scroll;
  }
  .hover-area:hover .sentence-annotations {
    visibility: visible;
  }

  .hover-area {
    display: inline-block;
  }
</style>

<span class="sentence-container"
  >{sentence ? <Sentence sentence={sentence} /> : plain}
  {
    !justFurigana && (
      <div class="hover-area">
        <a href={`/edit-sentence/${encodeURIComponent(plain)}`}>
          {sentence ? (sentence?.translations ? "📝" : sentence?.vocab?.length ? "✔️" : "❓") : "❌"}
        </a>
        {sentence && (
          <div class="sentence-annotations">
            <SentenceAnnotations sentence={sentence} client:visible />
          </div>
        )}
      </div>
    )
  }
</span>
