---
export const prerender = true;

import "../styles/editor.css";

import { enrollSentenceIntoDoc, getSentence } from "../db";
import { Sentence } from "./preact/Sentence";
import { SentenceAnnotations } from "./solid/SentenceAnnotations";

interface Props {
  plain: string;
  d: string;
}

const { plain, d: docName } = Astro.props;

enrollSentenceIntoDoc(plain, docName);
const sentence = getSentence(plain, false);
---

<style>
  .sentence-annotations {
    position: absolute;
    display: block;
    visibility: hidden;
    z-index: 1;
    background: var(--background-color);

    padding: 0.5rem;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--shadow-color);
    transition:
      background-color 0.3s,
      border-color 0.3s,
      box-shadow 0.3s;

    left: 0;
  }
  .hover-area:hover .sentence-annotations {
    visibility: visible;
  }

  .hover-area {
    display: inline-block;
  }
</style>

<div class="hover-area">
  <span class="sentence-container">
    {sentence ? <Sentence sentence={sentence} /> : plain}
    <a href={`/edit-sentence/${plain}`}>
      {sentence ? "📝" : "❓"}
    </a>
  </span>
  {
    sentence && (
      <div class="sentence-annotations">
        <SentenceAnnotations sentence={sentence} client:visible />
      </div>
    )
  }
</div>
