---
import Basic from "../../layouts/Basic.astro";
import "../../styles/tables.css";

import { SentenceEditor } from "../../components/SentenceEditor";

const { plain } = Astro.params;
if (!plain) throw new Error("parameter not provided unexpectedly");
---

<Basic title="Sentence Editor">
  <h1>Sentence Editor</h1>
  <SentenceEditor plain={plain} client:only />
</Basic>
