---
import type { Word } from "curtiz-japanese-nlp/interfaces";
import { getSentence, upsertSentence } from "../../db";
import { analyzeString, jmdictSeqsToWords } from "../../nlp-wrappers/curtiz";
import { rawToIchiran } from "../../nlp-wrappers/ichiran";
import type { Sentence as SentenceType } from "../../interfaces/backend";

import Basic from "../../layouts/Basic.astro";
import { SentenceEditor } from "../../components/preact/SentenceEditor";
import "../../styles/tables.css";
import "../../styles/editor.css";

const { plain } = Astro.params;
if (!plain) throw new Error("parameter not provided unexpectedly");

const existing = await getSentence(plain);
if (existing === undefined || (typeof existing === "object" && !existing.nlp)) {
  const curtiz = await analyzeString(plain);
  const { ichiran, jmdictSeqs, seqMap } = await rawToIchiran(plain);
  const words = Object.fromEntries(
    (await jmdictSeqsToWords(jmdictSeqs)).filter((x): x is Word => !!x).map((w) => [w.id, w])
  );

  {
    const moreSeqs = jmdictSeqs.filter((x) => !(x in words) && x in seqMap);
    const moreWords = await jmdictSeqsToWords(moreSeqs.map((x) => seqMap[x]));
    for (const [idx, w] of moreWords.entries()) {
      if (w) {
        // we know we're not overwriting anything here because `w.id` isn't in `words` by construction
        words[moreSeqs[idx]] = w;
      }
    }
  }

  const furigana = typeof curtiz === "string" ? [curtiz] : curtiz.furigana.flat();
  const sentence: SentenceType = {
    furigana: existing?.furigana || furigana, // keep old furigana as it might have corrections
    ...existing,
    nlp: { curtiz, ichiran, words },
  };
  await upsertSentence(sentence);
}
---

<Basic title="Sentence Editor">
  <h1>Sentence Editor</h1>
  <SentenceEditor plain={plain} client:only="preact" />
</Basic>
